# Monorepo
node_modules/
dist/
build/
.env
.env.local
.DS_Store
Thumbs.db

# Backend
server/dist/
server/logs/

# Docker
docker-compose.dev.yml
docker-compose.prod.yml

# Frontend
frontend/.next/
frontend/out/
frontend/build/
