services:
  postgres:
    image: postgres:16
    container_name: guantanamera-core-db-dev
    restart: unless-stopped
    environment:
      POSTGRES_DB: guantanamera_core
      POSTGRES_USER: guantanamera
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - postgres_dev_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  api:
    container_name: guantanamera-core-api-dev
    build:
      context: ./
      dockerfile: Dockerfile.dev
    depends_on:
      - postgres
    environment:
      NODE_ENV: development
      PORT: 3000
      DATABASE_URL: postgresql://guantanamera:${POSTGRES_PASSWORD}@postgres:5432/guantanamera_core
    volumes:
      - ./:/app
      - /app/node_modules
    ports:
      - "3000:3000"
